@model dynamic

@{
    ViewBag.Title = "Admin Login";
}

<div class="centered">
<h3 class="centered">ADMIN LOGIN</h3>

@using (Html.BeginForm("Index", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            <input type="text" placeholder="Username" name="adminUsername" class="form-control"/>
        </div>

        <div class="form-group">
            <input type="password" placeholder="Password" name="adminPassword" class="form-control"/>

        </div>

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-warning centered"/>
        </div>
    </div>
}
</div>