
@{
    ViewBag.Title = "Careers";
}

<h2 class="careers">Work With Us</h2>

<p class="applications">Syzygy UK currently has vacancies at various levels. Become part of Syzygy today.</p>

<h3>DATABASE EXPERT, Manchester: £180,000 p.a.</h3>
<p>
	Exceptional PSQL programmer sought for management of Syzygy corporate resources and personal data records. Must be eligible for level 7 security clearance. Generous reimbursement available.
	<span class="applications">Applications for the 2017 season are now closed.</span>
</p>

<h3>ALGORITHMIC QA TESTER, Bradford: £153,000 p.a.</h3>
<p>
	Meticulous and strategic experimentalist required for quality assurance on Syzygy digital products. Must be experienced in PHP, Java, Objective-C, and Fortran as absolute minimum. Health insurance included.
	<span class="applications">Applications for this post are now closed.</span>
</p>

<h3>ASSET RETRIEVAL, London: salary on negotiation.</h3>
	<p>Teams of 3 needed for procurement of Syzygy company resources. Must be discreet, creative, good under pressure, able to think outside the box. Applicants for this position will be required to sign a binding non-disclosure agreement.
	<span class="applications">@Html.ActionLink("Apply now.", "Login")</span>

		<audio controls>
			<source src="~/sounds/5.wav" type="audio/wav" />
		</audio>

</p>