@model dynamic

@{
    ViewBag.Title = "Syzygy Systems Inc.";
}
<div class="container syzygy-home">
    <div class="jumbotron">
        <h1>YOUR FUTURE IS OUR CONCERN.</h1>
        <p>
            Welcome to Syzygy, the world's foremost innovator of digital algorithmic solutions.
        </p>
    </div>
	<p class="introduction">@Html.ActionLink("HEAR OUR STORY >", "Manifesto", "Home")</p>
</div>
