@model dynamic

@{
    ViewBag.Title = "Softwire Events";
}
<div class="centered">
    <div class="container">
        <div class="jumbotron">
            <h1>Happnin</h1>
            <p>
                Welcome to Happnin! Please log in with your Softwire email and invitation code below
            </p>
        </div>
    </div>
    <h3>LOG IN</h3>
    <div class="col-md-4"></div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-4 ">
            @Html.ValidationSummary(false, "", new {@class = "text-danger"})
            <div class="form-group centered">
                <input type="email" placeholder="Email" name="userEmail" class="form-control"/>
            </div>

            <div class="form-group ">
                <input type="text" placeholder="Invitation Code" name="invitationCode" class="form-control"/>
            </div>

            <div class="form-group ">
                <input type="submit" value="Login" class="btn btn-warning"/>
            </div>
        </div>
    }
    <div class="col-md-4"></div>
</div>