@model dynamic

@{
    ViewBag.Title = "Softwire Events";
}

<h2>Log In</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="form-group">
            <input type="email" placeholder="Email" name="userEmail" class="form-control" />
        </div>

        <div class="form-group">
            <input type="text" placeholder="Invitation Code" name="invitationCode" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>

}