
@{
    ViewBag.Title = "Log In";
}

<h2>Apply</h2>

<div>
	<p>Thank you for your interest in the Syzygy Systems Asset Retrieval Programme.</p>
	<p>Unfortunately, applications are now closed.</p>
	<p>We at Syzygy express our profound gratitude to those who participated so efficiently and discreetly. You have taken one step, but Science has taken great strides as a result of your work.</p>
	<p>Until next time...</p>

</div>
