
@{
    ViewBag.Title = "Products";
}

<div class="products">
<h2>Products</h2>

<h3 class="products-andromeda">ANDROMEDA</h3>

<p>Syzygy's signature operating system, Andromeda has time and time again proven the most powerful OS on the market, providing security and flexibility while uncompromising on reliability. Andromeda will keep your filesystem organized, keep your business in order, and keep you safe on the Internet. Andromeda 3.1: Actinium is out now!</p>

<h3 class="products-cerberus">CERBERUS</h3>

<p>The Cerberus range of personal security systems is the very finest money can buy. Need to protect your assets reliably and discreetly? Choose Cerberus. Incorporating the latest advances in cryptography, facial recognition, and fraud detection, Cerberus will keep you safe from every sort of threat.</p>

<h3 class="products-catalyst">CATALYST</h3>

<p>Famine, illness, death. With the Catalyst line of bioengineered products, these will all be things of the past. Catalyst:Viridian brand wheat is 84% more resistant to blight than any other wheat on the market. Catalyst:Aqua algae products have all the nutritional value of traditional protein sources free from ethical and environmental concerns. With Catalyst:Malachite, your lawn will look brighter and be 15% more drought-resilient than your neighbors'!</p>

<h3 class="products-genetex">GENETEX</h3>

<p>Syzygy is proud to present Genetex: the next generation of personal pharma-cosmetic solutions. Banish wrinkles with the Genetex Skin-Be-Clear range. Detox like the stars with Genetex Anti-Chemical Serum. Keep your face looking youthful with the Genetex Regen range of vitamins and supplements.</p>

</div>