
@{
    ViewBag.Title = "Sightings";
}

<h2 class="sightings">Have You Seen The Professor?</h2>

<p>Professor Hugo Trevelyan disappeared from his home in North London on 1st March.</p>

<p>His family are very concerned for his safety.</p>

<p>Syzygy Systems Incorporated is offering a reward for anyone whose actions lead to the Professor's discovery. If you have any information concerning his location, please contact a Syzygy Resource Specialist.</p>